name: Documentation
on:
  push:
    branches:
      - master
    tags: '*'
    paths:
      - Project.toml
      - src/**
      - docs/**
  workflow_dispatch:
  pull_request:

jobs:
  build:
    permissions:
      actions: write
      contents: write
      pull-requests: read
      statuses: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          sudo apt-get update
          sudo apt-get -y install texlive-latex-base texlive-binaries texlive-pictures context
      - uses: julia-actions/setup-julia@v2
        with:
          version: '1'
      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: 'release'
          use-public-rspm: true
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          packages: |
            tidyverse
            pomp
      - run: echo "LD_LIBRARY_PATH=$(R RHOME)/lib:$LD_LIBRARY_PATH" >> $GITHUB_ENV
      - name: Install Documenter
        run: julia --project=docs/ -e 'using Pkg; Pkg.add("Documenter")'
      - uses: julia-actions/cache@v2
      - name: Install dependencies
        shell: julia --color=yes --project=docs {0}
        run: |
          using Pkg
          Pkg.develop(PackageSpec(path=pwd()))
          Pkg.instantiate()
      - name: Build and deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: julia --color=yes --project=docs docs/make.jl
